@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: rgb(199, 194, 194);
    overflow-x: hidden;
}

p#name-header {
    font-size: 3.5rem;
}

@media screen and (max-width: 600px) {
  p#name-header  {
    font-size: 1.7rem;
  }
  section#section-dev {
    padding: .6rem;
  }
}

@media screen and (max-width: 900px) {
  p#name-header  {
    font-size: 2rem;
  }
  section#section-dev {
    padding: .6rem;
  }
}

section#section-dev {
    min-height: 400px;
    padding: 3.1rem;
}

/* section backgrounds ***********/

.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('./img/smstand.jpg');
    height: 100vh;
    display: flex;  
}

.pimg2 {
    background-image: url('./img/bg-1-comp.jpg');
    min-height: 500px; 
}

.pimg3 {
    background-image: url('./img/bg-2-comp.jpg');
    min-height: 500px; 
}

.pimg4 {
    background-image: url('./img/black.png');
    min-height: 100vh;  
    overflow: -moz-hidden-unscrollable;
}

/* sections **********************/

.section {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.56rem;
    line-height: 2.18rem;
    padding: 1.875rem 60px;
}
.section h2 {
    font-family: 'Comfortaa', cursive;
    letter-spacing: .2rem;
    font-size: 2.5rem;
}
.section-light {
    background-color: #615e66;
    color: rgb(187, 186, 186);
}
.section-dark {
    background-color: #615e66;
    color: rgb(187, 186, 186);
    line-height: 2rem;

}

#section-dev {
  line-height: 2em;
}

/* .section-art {
    min-height: 520px;
} */

/* dev icons *************/

#icons {
  padding-bottom: 3.5rem;
  padding-top: 1rem; 
}

.tech-icon {
  font-size: 3rem;
  transition: .3s;
  padding: 1rem;
  filter: grayscale(50%);
}

.tech-icon svg {
  transition: .3s;
  filter: grayscale(20%)
}

.tech-icon svg:hover {
  transform: scale(1.5);
  filter: grayscale(0%);
}

.tech-icon-project svg{
  height: 3rem;
  transition: .3s;
  padding: .8rem;
  filter: grayscale(50%)
}


#css-icon {
  color: #1a89c9;
}

#html-icon {
  color: #E04A17;
}
#js-icon {
  color: #E9D44E;
}
#node-icon {
  color: #539F43;
}
#php-icon {
  color: #7981f8;
}
#react-icon {
  color: #58D4F6;
}

.tech-icon:hover {
  transform: scale(1.5);
  filter: grayscale(0%);
}

.ptext {
    position: absolute;
    top: 30%;
    padding-left: 9rem;
    width: 100%;
    color: rgba(20, 20, 20, 0.973);
    font-size: 38px;
    letter-spacing: 7px;
}

@media screen and (max-width: 600px) {
  .ptext {
    padding-left: 2rem;
  }

  #icons {
    line-height: 80px; 
  }
}

#projects-title, #intro-title {
  font-size: 3.5rem;
  padding-top: 1rem;
}

@media screen and (max-width: 600px) {
  #projects-title, #intro-title {
    font-size: 2.5rem;
  }
}

div.project {
  min-height: 11rem;
  max-width: 80%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 1px #a1bde4;
  margin: 50px 100px;
  background-color: #615e66;
  border-radius: 10px;
  padding: 20px;
}

/* MEDIA **********************/

@media screen and (max-width: 500px) {
  div.project {
  font-size: 1rem;
  margin: 0;
  min-height: 90vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  }

  .section {
  padding: 10px 0;
  }

  .project-right {
    min-width: 50%;
    margin-top: 3rem;
  }

  .each-slide {
    height: 12rem;
    min-width: 16rem;
  }

  div.react-slideshow-container {
    width: 350px;
  }

  img#movie-search {
    width: 300px;
  }
}

@media screen and (max-width: 1250px) {
  div.project {
  font-size: 1rem;
  margin: 0;
  min-height: 90vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  }

  .section {
  padding: 10px 0;
  }

  .project-right {
    min-width: 50%;
  }

  .each-slide {
    height: 16rem;
    min-width: 20rem;
  }

  img#movie-search {
    width: 300px;
  }
}

/* END MEDIA ********************/

.project-left {
  margin: 0 1rem 0 .8rem;
  min-width: 50%;
  height: 300px;
  /* border: solid 1px red; */
  text-decoration: none;
  padding: 1.2rem;
}

.project-left p {
  width: 90%;
  margin: 0 1rem .8rem 1rem;
}

.project-left h2 {
  margin-top: 0;
}

.project-left a {
  text-decoration: none;
  color: rgb(187, 186, 186);
  border: 1px solid #a1bde4;
  padding: 8px 12px;
  border-radius: 10%;
  transition: .3s;
  margin-right: 18px;
}

.project-left a:hover {
  background-color: #a1bde4;
  color: #615e66;
}

.project-buttons {
  margin-top: 3rem;
}

.project-left svg {
  height: 2rem;
  width: 2rem;
}

.project-left svg:hover {
  transform: scale(1);
  filter: grayscale(0%);
}

.project-right {
  min-height: 200px;
  min-width: 50%;
  /* border: solid 1px blue; */
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}

#projects-div {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

#colloq-preview, #getfit-preview {
  margin: auto;
  align-self: center;
  max-width: 30rem;
}

/*  slideshow ********************/

div.react-slideshow-container {
  width: 500px;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 18rem;
  width: 32rem;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

img#movie-search {
  width: 420px;
}

@media screen and (max-width: 1200px) {
  div.react-slideshow-container {
    width: 400px;
  }
}

@media screen and (min-width: 900px) {
  img#movie-search {
    width: 500px;
  }
}

/* contact section *****************/

span.color {
  color: rgb(60, 219, 12);
}

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  height: 900px;
}

#contact-box {
  background-color: #615e66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 700px;
}

#contact-box p { 
  font-size: 1.5rem;
  color: rgb(202, 199, 199);
  text-decoration: none;
  justify-content: center;
  width: 60%;
  text-align: center;
}

#contact-box img#portrait {
  height: 280px;
  width: 250px;
  margin-bottom: 40px;
  margin-top: 35px;
  border-radius: 50%;
  border: 5px solid #333333;
  opacity: 1;
  z-index: 999;
}

#endtext2 {
  color: rgb(202, 199, 199);
  font-size: 2rem;
  margin: .5rem 1rem 1rem 2.5rem;
  text-decoration: none;
  text-align: center;
}

/* MEDIA ************************/
@media screen and (max-width: 900px) {
  .endtext-box {
    height: 100vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;;
}

.endtext-box img#portrait {
  height: 10rem;
  width: 9rem;
  margin-bottom: 40px;
  margin-top: 35px;
}

.endtext-box p {
  width: 80%;
}

ul.list-unstyled {
  margin-top: 0;
}

}

/* social media links *******************/

ul.list-unstyled {
    margin-top: 150px;
    list-style: none;
    margin-right: .4rem;
}

ul.list-unstyled li {
    display: inline;
    font-size: 2em;
    padding: 0 .2em;
    text-decoration: none;
    margin-right: 15px;
}

ul.list-unstyled a {
    color: rgb(202, 199, 199);
    transition: all 300ms ease;
}

ul.list-unstyled a:hover {
    color: rgb(60, 219, 12);
}
